
<div>
  <h2><u>RED ALERT!</u></h2>

  <div class="insights">
    <p>Government policies should by now be leaning towards lockdown, since social distancing measures didn’t reduce enough the spread of COVID-19.</p>
    <p>Government should be running Large-scale tests.</p>
    <p>At homes, people should be taking homecare of suspect or confirmed cases, following OMS safety recommendations (more info <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">here</a>)</p>
    <p>Keep yourself updated with the most recent infos from reliable sources, like <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">WHO</a> or local and national health authorities.</p>
  </div>
</div>
