<div class="graph-container">
  <div class="insight">
    <h2>Total deaths</h2>
    <div>
      <img class="graph-image" src="assets/img/chart1.png" alt="total deaths by corona virus"/>
    </div>
    <label>
      <b> 125,833 COVID-19 deaths </b> projected by August 4, 2020
    </label>
  </div>

  <div class="insight">
    <h2>ICU beds</h2>
    <div>
      <img class="graph-image" src="assets/img/chart2.png" alt="ICU beds occuppied"/>
    </div>
    <label>
      <b>All ICU</b> beds ere occupied. Stay safe!
    </label>
  </div>
</div>
 