.graph-container
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: grid;  
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(auto-fit, 350px); 
    grid-gap: 15px;

.insight
    width: min-content;
    justify-content: center;
    text-align: center;

.graph-image
    width: 400px;