.home-container
    text-align: center;
    justify-content: center;

.title

.response
    color: red
    justify-content: center;
    text-align: center;
    width: min-content;
    margin: 0 auto;
    